---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Greeter from '../components/Greeter.astro';
import Separator from '../components/Separator.astro';
import Job from '../components/Job.tsx';
import Project from '../components/Project.astro';

import type { jobI, project_t } from '../utils/copy';
import { copy } from '../utils/copy';
---

<Layout title="Developer Xander Azuaje">
    <Navbar />
    <main id="splash">
        <Hero />
        <Greeter title="About me" description={copy.description} />
    </main>
    <Separator title="Job Experience" number="1" />
    <section id="job-experience">
        {copy.jobs.map((job:jobI) => (
            <Job
                company={job.company}
                position={job.position}
                date={job.date}
                logo={job.logo}
                accomplishments={job.accomplishments}
                technologies={job.technologies}
                client:load
            />
        ))}
    </section>
    <Separator title="Projects" number="2" />
    <section id="projects">
        {copy.projects.map((project: project_t) => (
            <Project
                title={project.title}
                description={project.description}
                image={project.image}
                technologies={project.technologies}
                url={project.url}
            />
        ))}
    </section>
</Layout>

<style>
    #splash {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        min-height: 720px;
    }
    #job-experience, #projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        justify-items: center;
        grid-gap: 1rem;
        padding: 0 2rem;
        max-width: 800px;
        margin: 0 auto;
    }
</style>

<script>
import gsap from 'gsap';
import ScrollTrigger from 'gsap/ScrollTrigger';

gsap.registerPlugin(ScrollTrigger);

// Animate Hero
gsap.from('#hero', {
    scrollTrigger: '#hero',
    y: -150,
    duration: 0.3,
    opacity: 0,
    ease: 'power3.out',
});

// Animate Greeter
gsap.from('#greeter', {
    scrollTrigger: '#greeter',
    y: 150,
    duration: 1,
    opacity: 0,
    ease: 'power3.out',
});

// Animate Separator
gsap.from('#separator-1', {
    scrollTrigger: {
        trigger: '#separator-1',
        start: 'top 80%',
    },
    scaleY: 0,
    duration: 0.5,
    opacity: 0,
    ease: 'power3.out',
});

// Animate Job Experience
gsap.from('.job-experience', {
    scrollTrigger: {
        trigger: '#job-experience',
        start: 'top 80%',
    },
    scale: 0,
    duration: 0.3,
    opacity: 0,
    ease: 'power3.out',
    stagger: 0.2,
});
gsap.from('#separator-2', {
    scrollTrigger: {
        trigger: '#separator-2',
        start: 'top bottom',
    },
    scaleY: 0,
    duration: 0.5,
    opacity: 0,
    ease: 'power3.out',
});
gsap.from('.project', {
    scrollTrigger: {
        trigger: '#projects',
        start: 'top bottom',
    },
    scale: 0,
    duration: 0.3,
    opacity: 0,
    ease: 'power3.out',
    stagger: 0.2,
});
</script>
